

<body>
<script defer src="public/js/checker.js"></script>
<div class="popup__bg">

    <header class="header">
        <div class="container">
            <div class="header_wrapper">
                <div class="header_block">
                    <a href="#" class="header_logo">
                        <img src="https://cdn.glitch.global/1d4ff4b4-546b-4de3-9408-e43a3306387e/rubicon_logo.svg?v=1661638719689">
                    </a>
                </div>

                <div class="block_header_info">
                    <div class="info_user" id="open_menu_btn">
                        <a href="#">
                            <img src="{{userIcon}}" class="info_logo">
                        </a>
                        <div class="info_text_info">
                            <p class="user_name">{{name}}</p>
                            <p class="user_company">{{companyName}}</p>
                        </div>

                        <img class="attention {{attention}}" src="https://cdn.glitch.global/1d4ff4b4-546b-4de3-9408-e43a3306387e/attention.svg?v=1664370395205">

                        <div class="user_settings">
                            <a href="/main">
                                <input type="image" src="https://cdn.glitch.global/1d4ff4b4-546b-4de3-9408-e43a3306387e/settings-icn.svg?v=1661638683302">
                            </a>
                        </div>

                        <div class="dropdown_menu">
                            <div class="dropdown_menu_body">
                                <br>
                                <div class="dropdown_header_1st">
                                    <span class="{{subStatus}}">🗓 Підписка дійсна до:</span>
                                    <span class="{{subStatus}}">{{subEnd}}</span>
                                </div>

                                <div class="dropdown_header_2st">
                                    <span>🔄 Автоподовження: </span>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </div>

                                <div class="subscribe_prices">

                                    <div class="price-buttons">
                                        <button class="yearly-btn active" autofocus>Щорічно</button>
                                        <button class="monthly-btn">Щомісячно</button>
                                    </div>

                                    <div class="price">
                                        <span class="price-value" style="font-size: 3.5rem">Loading...</span><span class="price-ending sale" style="font-size: 1.7rem">/міс.</span>
                                        <p class="price-description">Оплачується щороку</p>
                                    </div>

                                    <div class="pay-btn">
                                        <a href="#"><button class="pay">Сплатити</button></a>
                                    </div>

                                    <div class="banks">
                                        <img src="https://cdn.glitch.global/1d4ff4b4-546b-4de3-9408-e43a3306387e/banks.svg?v=1661684283758">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="page main">

        <div class="youscore_logo">
            <img src="https://cdn.glitch.global/1d4ff4b4-546b-4de3-9408-e43a3306387e/youscore_logo.svg?v=1661638750089">
        </div>

        <div class="send_key">

            <form  method="post" action="/" class="send_key_to_youscore">

                <label for="code" class="send_key_text">Введіть API-ключ сервісу YouScore</label>
                <input type="text" class="send_key_input" id="code" name="code" value="{{code}}">
                <input type="submit" value="Перевірити ключ" class="send_value">

                <p class="send_key_description">
                    <b>Не можете знайти ключ? Скористайтесь <a class="instruction" href="#">інструкцією</a></b>
                </p>
            </form>

            <div class="status_key">
                <p class="send_key_status">Статус підключення: <img src="{{status}}">
                </p>
            </div>
        </div>

        <div class="next" style="display: {{display}};">
            <a href="end">
                <img src="https://cdn.glitch.global/1d4ff4b4-546b-4de3-9408-e43a3306387e/next.svg?v=1661638729232">
            </a>

        </div>

    </div>

    <div class="circles">
        <img alt="circles" src="https://cdn.glitch.global/1d4ff4b4-546b-4de3-9408-e43a3306387e/circles.svg?v=1661638700569">
    </div>

</div>

</body>